<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" type="text/css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        
    </head>
    <body>
        Hello World!
        <form method="POST" action="/person">
            First Name: <input type="text" name="firstname" id="firstname">
            Last Name:<input type="text" name="lastname" id="lastname">
            <button type="submit">Send</button>
        </form>
    </body>
    <script>
            // $.ajax({
            //     type: 'POST',
            //     url: '/json',
            //     data: JSON.stringify({
            //         firstname: 'Pablo',
            //         lastname: 'Veiga'
            //     }),
            //     dataType: 'json',
            //     contentType: 'application/json'
            // }); 
    </script>
</html>